thead th {
    padding-right: 0 !important;
}

.aside {
    background-image: none;
    background-color: #2f353a !important;
    position: sticky !important;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100vh;
}

.page-item.active .page-link,
.yellow {
    background-color: #ffbc06 !important;
}

select:focus,
input:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid #ffbc06 !important;
}

.page-item.active .page-link {
    border: none;
}

div.dataTables_wrapper div.dataTables_length select {
    min-width: 60px;
}