@keyframes moveDown {
    from {
        transform: translateY(-80%);
    }to {
        transform: translateY(-50%);
    }
}


@keyframes opacity {
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}

@keyframes moveRight {
    from {
        opacity: 0;
        transform: translateX(400px);
    }to {
        opacity: 1;
        transform: translateX(0);
    }
}