.top-bar {
    background-color: var(--cream-color);
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 130px;
    background-color: var(--yellow-color);
}

nav>img {
    position: absolute;
    top: 0;
    height: 75px;
}

.nav-img-left {
    left: 0;
}

.nav-img-right {
    right: 0;
}

.nav-item {
    width: 1200px;
    max-width: var(--width-1200);
    margin: auto;
    z-index: 99;
}

.nav-item-mobile {
    display: none;
}

.nav-top {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 200px;
    height: 40px;
    object-fit: cover;
}

.nav-address a {
    width: 140px;
    height: 43px;
    padding: 7px;
    background-color: var(--dark-yellow-color);
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.nav-address p {
    font-size: 0.75rem;
    line-height: 18px;
}

.form-search {
    position: relative;
}

#search-data {
    position: absolute;
    top: 48px;
    width: 360px;
    height: auto;
    z-index: 99999;
    background-color: var(--white-color);
    box-shadow: 0 0 8px #ccc;
    border-radius: 8px;
    display: none;
}

#search-data>h6 {
    padding: 10px;
    background-color: #f5f5f5;
}

#search-data>p {
    padding: 10px;
    font-size: 0.9rem;
} 

.search-data-item a {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 90px;
}

.search-data-item a:last-child {
    border-bottom: 1px solid #ccc;
}

.img-item {
    width: 70px;
    height: auto;
}

.search-data-item img {
    width: 100%;
}

.search-info {
    width: 75%;
}

.b-price {
    font-size: 0.7rem;
    margin-top: 6px;
}

.b-price span:first-child {
    font-size: 0.9rem;
    font-weight: 600;
    color: red;
}

.search-info p {
    font-size: 0.9rem;
}

.form-search form {
    width: 290px;
    height: 43px;
    background-color: var(--white-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-search input {
    width: 87%;
    height: 100%;
    padding-left: 10px;
    border-radius: 5px 0 0 5px;
    background-color: var(--white-color);
    border: none;
}

.form-search input:focus {
    outline: none;
}

.form-search button {
    width: 12%;
    height: 100%;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: var(--white-color);
}

.account a {
    display: flex;
    width: 100px;
    padding: 7px;
    height: 43px;
    border-radius: 5px;
    font-size: 0.8rem;
    background-color: var(--dark-yellow-color);
    text-align: center;
}

.cart a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 43px;
    padding: 7px;
    border-radius: 8px;
    background-color: var(--dark-yellow-color);
}

.icon-cart {
    position: relative;
}

.icon-cart span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: var(--white-color);
    font-size: 0.7rem;
    font-weight: 600;
}

.cart strong {
    font-size: 0.8rem;
}

.nav-list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 43px;
    color: var(--white-color);
}

.nav-list-top span {
    font-size: 1.4rem;
}

.hr {
    content: "";
    width: 2px;
    height: 20px;
    background-color: var(--white-color);
}

.nav-list-top a {
    display: block;
    font-size: 0.9rem;
    transition: all ease 0.4s;
}

#nav-list-top,
.nav-list-top-drop-down {
    display: none;
}

.nav-address a:hover,
.account a:hover,
.cart a:hover {
    opacity: 0.7;
}

.nav-list-top a:hover {
    color: var(--white-color);
}

menu {
    max-width: var(--width-1200);
    margin: auto;
}

menu ul {
    display: flex;
    justify-content: center;
    gap: 25px;
}

menu a {
    position: relative;
    transition: all ease 0.4s;
}

menu a:hover {
    color: var(--white-color);
}

menu a:hover::before {
    width: 100%;
}

menu a::before {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 3px;
    background-color: var(--white-color);
    transition: all linear 0.5s;
}

.menu-other {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-color);
    z-index: 999999;
    padding: 20px;
    animation: moveRight ease 0.4s;
}

.menu-other.active {
    display: block;
}

.menu-other ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-other ul a {
    display: block;
}

.menu-other ul a:hover {
    opacity: 0.8;
}

.close-mobile {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}